[submodule ".registry"]
	path = .registry
	url = https://github.com/archaeostat/archaeostat.r-universe.dev
	branch = HEAD
[submodule "ArchaeoCal"]
	path = ArchaeoCal
	url = https://github.com/ArchaeoStat/ArchaeoCal
[submodule "ArchaeoChron"]
	path = ArchaeoChron
	url = https://github.com/ArchaeoStat/ArchaeoChron
[submodule "ArchaeoData"]
	path = ArchaeoData
	url = https://github.com/ArchaeoStat/ArchaeoData
[submodule "ArchaeoPhases"]
	path = ArchaeoPhases
	url = https://github.com/ArchaeoStat/ArchaeoPhases
	branch = *release
[submodule "ArchaeoPhases.dataset"]
	path = ArchaeoPhases.dataset
	url = https://github.com/ArchaeoStat/ArchaeoPhases.dataset
